class {{ formula_class }} < Formula
  desc "{{ description }}"
  homepage "{{ homepage }}"
  version "{{ version }}"
  license "{{ license }}"

  on_macos do
    on_arm do
      url "{{ macos_arm_url }}"
      sha256 "{{ macos_arm_sha256 }}"
    end

    on_intel do
      url "{{ macos_intel_url }}"
      sha256 "{{ macos_intel_sha256 }}"
    end
  end

  on_linux do
    url "{{ linux_url }}"
    sha256 "{{ linux_sha256 }}"
  end

  def install
{{ install_block }}
  end

  test do
    assert_match "{{ test_output }}", shell_output("#{bin}/{{ binary }} {{ test_command }}")
  end
end
