---
required_variables:
  - title
  - summary
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <main>
    <h1>{{ title }}</h1>
    <p>{{ summary }}</p>
  </main>
</body>
</html>
